In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

The following data sets are available

meta data of type .json

phone data of type .csv

The meta data holds information from sellers point of view and the phone data holds user information. We begin by unzipping the meta data file and extracting its content to a list

# Reading the  data

In [3]:
# Reading the meta data
# importing libraries

import gzip
import shutil

#Path to the meta data zip file. 'sentiment_analysis' is the folder name under 'My Drive'
path1 = "/content/drive/MyDrive/capston/Web and social media analytics/meta_Cell_Phones_and_Accessories.json.gz"
# Path to meta data .json file
path2 ="/content/drive/MyDrive/meta_Cell_Phones_and_Accessories.json (1).gz"
# Unzipping the meta data file
with gzip.open(path1, 'rb') as f_in:
    with open(path2, 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [4]:
 #Reading the unzipped meta data into a Python list. The result will be a list of dictionaries. 
import json

# Empty list to store the dictonaries
phonemetadata = []

# Reading the dictionaries in the json file and appending it to the list phonemetadata[]
with open(path2, 'r') as f:
    for line in f:
        phonemetadata.append(json.loads(line))

In [5]:
# Getting the number of entries in the phonemetadata list
len(phonemetadata)

590071

In [6]:
#converting the list phonemetadata into a data frame
df_meta=pd.DataFrame(phonemetadata)

In [7]:

df_meta.head()

                                            category tech1  ... price        asin
0  [Cell Phones & Accessories, Accessories, Scree...        ...        6303195164
1  [Cell Phones & Accessories, Accessories, Car A...        ...        630524412X
2  [Cell Phones & Accessories, Cases, Holsters & ...        ...        6310200240
3  [Cell Phones & Accessories, Cases, Holsters & ...        ...        6786501710
4  [Cell Phones & Accessories, Cases, Holsters & ...        ...        6786501273

[5 rows x 18 columns]

In [8]:
df_meta.shape

(590071, 18)

In [9]:
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590071 entries, 0 to 590070
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   category      590071 non-null  object
 1   tech1         590071 non-null  object
 2   description   590071 non-null  object
 3   fit           590071 non-null  object
 4   title         590071 non-null  object
 5   also_buy      590071 non-null  object
 6   image         590071 non-null  object
 7   tech2         590071 non-null  object
 8   brand         590071 non-null  object
 9   feature       590071 non-null  object
 10  rank          590071 non-null  object
 11  also_view     590071 non-null  object
 12  details       590071 non-null  object
 13  main_cat      590071 non-null  object
 14  similar_item  590071 non-null  object
 15  date          590071 non-null  object
 16  price         590071 non-null  object
 17  asin          590071 non-null  object
dtypes: object(18)
memory usage: 81.0+ MB

## Meta data cleaning

tech1, tech2, fit , image, details, dates these are unnecessary columns that can be dropped

In [10]:
df_meta=df_meta.drop(["tech1","tech2","fit","image","details","date"],axis=1)
df_meta.head()

                                            category  ...        asin
0  [Cell Phones & Accessories, Accessories, Scree...  ...  6303195164
1  [Cell Phones & Accessories, Accessories, Car A...  ...  630524412X
2  [Cell Phones & Accessories, Cases, Holsters & ...  ...  6310200240
3  [Cell Phones & Accessories, Cases, Holsters & ...  ...  6786501710
4  [Cell Phones & Accessories, Cases, Holsters & ...  ...  6786501273

[5 rows x 12 columns]

In [11]:
df_meta.isnull().sum()

category        0
description     0
title           0
also_buy        0
brand           0
feature         0
rank            0
also_view       0
main_cat        0
similar_item    0
price           0
asin            0
dtype: int64

In [12]:

df_meta['main_cat'].describe()

count                        590071
unique                           36
top       Cell Phones & Accessories
freq                         527543
Name: main_cat, dtype: object

# filter the Cell Phones only from the category column

In [13]:
df_meta['catfilter'] =  [each[1] if len(each)>2 else "" for each in df_meta['category']]
df_meta = df_meta[df_meta['catfilter'] == "Cell Phones"]
df_meta.head()

                                               category  ...    catfilter
36    [Cell Phones & Accessories, Cell Phones, Unloc...  ...  Cell Phones
1274  [Cell Phones & Accessories, Cell Phones, Unloc...  ...  Cell Phones
1354  [Cell Phones & Accessories, Cell Phones, Carri...  ...  Cell Phones
1361  [Cell Phones & Accessories, Cell Phones, Carri...  ...  Cell Phones
1395  [Cell Phones & Accessories, Cell Phones, Unloc...  ...  Cell Phones

[5 rows x 13 columns]

Drop the duplicates "asin"

In [14]:
df_meta=df_meta.drop_duplicates(subset=["asin"])
df_meta.head()

                                               category  ...    catfilter
36    [Cell Phones & Accessories, Cell Phones, Unloc...  ...  Cell Phones
1274  [Cell Phones & Accessories, Cell Phones, Unloc...  ...  Cell Phones
1354  [Cell Phones & Accessories, Cell Phones, Carri...  ...  Cell Phones
1361  [Cell Phones & Accessories, Cell Phones, Carri...  ...  Cell Phones
1395  [Cell Phones & Accessories, Cell Phones, Unloc...  ...  Cell Phones

[5 rows x 13 columns]

In [15]:
df_meta['asin'].describe()

count           9652
unique          9652
top       B00R7KKR40
freq               1
Name: asin, dtype: object

## Phone data

In [16]:
#Reading the .csv file of the phone data into a dataframe

df_phonedata = pd.read_csv("/content/drive/MyDrive/capston/Web and social media analytics/Cell_Phones_and_Accessories_5.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df_phonedata.head(5)

   overall  verified      reviewerID  ... vote image review_sentiment
0      5.0      True  A24E3SXTC62LJI  ...  NaN   NaN         POSITIVE
1      5.0      True  A269FLZCB4GIPV  ...  NaN   NaN         POSITIVE
2      3.0      True   AB6CHQWHZW4TV  ...  NaN   NaN         NEGATIVE
3      2.0      True   A1M117A53LEI8  ...  NaN   NaN         POSITIVE
4      4.0      True  A272DUT8M88ZS8  ...  NaN   NaN         POSITIVE

[5 rows x 12 columns]

In [18]:
df_phonedata.describe()

            overall  unixReviewTime
count  1.128437e+06    1.128437e+06
mean   4.221383e+00    1.440400e+09
std    1.231917e+00    4.569215e+07
min    1.000000e+00    1.035331e+09
25%    4.000000e+00    1.416355e+09
50%    5.000000e+00    1.444349e+09
75%    5.000000e+00    1.470442e+09
max    5.000000e+00    1.538438e+09

In [19]:
df_phonedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128437 entries, 0 to 1128436
Data columns (total 12 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   overall           1128437 non-null  float64
 1   verified          1128437 non-null  bool
 2   reviewerID        1128437 non-null  object
 3   asin              1128437 non-null  object
 4   style             605241 non-null   object
 5   reviewerName      1128281 non-null  object
 6   reviewText        1127669 non-null  object
 7   summary           1127912 non-null  object
 8   unixReviewTime    1128437 non-null  int64
 9   vote              92034 non-null    object
 10  image             27107 non-null    object
 11  review_sentiment  1128437 non-null  object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 95.8+ MB

In [20]:
#Converting unix review time to date-time format

#Transforming unixReview time to date time format
from datetime import datetime, timedelta
df_phonedata['Date&Time'] = df_phonedata['unixReviewTime'].apply(lambda d: (datetime.fromtimestamp(d) - timedelta(hours=2)).strftime('%Y-%m-%d'))

Check for the null values

In [21]:
df_phonedata.isnull().sum()

overall                   0
verified                  0
reviewerID                0
asin                      0
style                523196
reviewerName            156
reviewText              768
summary                 525
unixReviewTime            0
vote                1036403
image               1101330
review_sentiment          0
Date&Time                 0
dtype: int64

In [22]:
round(100*(df_phonedata.isnull().sum()/len(df_phonedata.index)), 2)

overall              0.00
verified             0.00
reviewerID           0.00
asin                 0.00
style               46.36
reviewerName         0.01
reviewText           0.07
summary              0.05
unixReviewTime       0.00
vote                91.84
image               97.60
review_sentiment     0.00
Date&Time            0.00
dtype: float64

Drop the column with high null value

In [23]:
df_phonedata=df_phonedata.drop(["style","vote","image","unixReviewTime"], axis=1)

In [24]:
df_phonedata.isnull().sum()

overall               0
verified              0
reviewerID            0
asin                  0
reviewerName        156
reviewText          768
summary             525
review_sentiment      0
Date&Time             0
dtype: int64

In [25]:
df_phonedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128437 entries, 0 to 1128436
Data columns (total 9 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   overall           1128437 non-null  float64
 1   verified          1128437 non-null  bool
 2   reviewerID        1128437 non-null  object
 3   asin              1128437 non-null  object
 4   reviewerName      1128281 non-null  object
 5   reviewText        1127669 non-null  object
 6   summary           1127912 non-null  object
 7   review_sentiment  1128437 non-null  object
 8   Date&Time         1128437 non-null  object
dtypes: bool(1), float64(1), object(7)
memory usage: 70.0+ MB

Drop all the row having null "reviewText"

In [26]:
df_phonedata = df_phonedata.dropna(subset=["reviewText"])
df_phonedata.head()

   overall  verified  ... review_sentiment   Date&Time
0      5.0      True  ...         POSITIVE  2014-08-03
1      5.0      True  ...         POSITIVE  2014-02-11
2      3.0      True  ...         NEGATIVE  2014-02-07
3      2.0      True  ...         POSITIVE  2014-02-03
4      4.0      True  ...         POSITIVE  2014-02-02

[5 rows x 9 columns]

In [27]:

df_phonedata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1127669 entries, 0 to 1128436
Data columns (total 9 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   overall           1127669 non-null  float64
 1   verified          1127669 non-null  bool
 2   reviewerID        1127669 non-null  object
 3   asin              1127669 non-null  object
 4   reviewerName      1127514 non-null  object
 5   reviewText        1127669 non-null  object
 6   summary           1127195 non-null  object
 7   review_sentiment  1127669 non-null  object
 8   Date&Time         1127669 non-null  object
dtypes: bool(1), float64(1), object(7)
memory usage: 78.5+ MB

In [28]:
df_phonedata["verified"].describe()

count     1127669
unique          2
top          True
freq       986586
Name: verified, dtype: object

Choose only verified reviewer

In [29]:
df_phonedata = df_phonedata[df_phonedata['verified'] == True]

In [30]:
df_phonedata.tail()

         overall  verified  ... review_sentiment   Date&Time
1128429      4.0      True  ...         POSITIVE  2018-06-16
1128430      1.0      True  ...         NEGATIVE  2018-01-03
1128431      3.0      True  ...         NEGATIVE  2017-01-01
1128432      4.0      True  ...         POSITIVE  2016-12-21
1128436      5.0      True  ...         POSITIVE  2017-05-10

[5 rows x 9 columns]

In [31]:
df_phonedata["verified"].describe()

count     986586
unique         1
top         True
freq      986586
Name: verified, dtype: object

## Merge Two dataframe meta_data and phone_data on "asin"

In [32]:
phone=pd.merge(df_phonedata,df_meta,on='asin')

In [33]:
phone.head()

   overall  verified      reviewerID  ... similar_item price    catfilter
0      5.0      True  A1V3TRGWOMA8LC  ...                     Cell Phones
1      4.0      True   AQZGG5F4JIRXO  ...                     Cell Phones
2      5.0      True  A1US87X5YUEQ7A  ...                     Cell Phones
3      5.0      True   A907YOG7N8ELB  ...                     Cell Phones
4      4.0      True   AN9Q4QY93VLLF  ...                     Cell Phones

[5 rows x 21 columns]

In [34]:
phone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53442 entries, 0 to 53441
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   overall           53442 non-null  float64
 1   verified          53442 non-null  bool
 2   reviewerID        53442 non-null  object
 3   asin              53442 non-null  object
 4   reviewerName      53436 non-null  object
 5   reviewText        53442 non-null  object
 6   summary           53425 non-null  object
 7   review_sentiment  53442 non-null  object
 8   Date&Time         53442 non-null  object
 9   category          53442 non-null  object
 10  description       53442 non-null  object
 11  title             53442 non-null  object
 12  also_buy          53442 non-null  object
 13  brand             53442 non-null  object
 14  feature           53442 non-null  object
 15  rank              53442 non-null  object
 16  also_view         53442 non-null  object
 17  main_cat          53442 non-null  object
 18  similar_item      53442 non-null  object
 19  price             53442 non-null  object
 20  catfilter         53442 non-null  object
dtypes: bool(1), float64(1), object(19)
memory usage: 8.6+ MB

Check for value_conts of different brand and drop the outliers

In [35]:
phone["brand"].value_counts()

Samsung          13819
BLU               8324
LG                5393
Motorola          4125
Nokia             3533
                 ...
Palm Treo 650        2
RugGear              2
Sonim                2
TracFone             2
Acer                 1
Name: brand, Length: 145, dtype: int64

In [36]:
phone = phone[phone.groupby('brand').brand.transform('count')>1000].copy()

In [37]:
phone["brand"].value_counts()

Samsung       13819
BLU            8324
LG             5393
Motorola       4125
Nokia          3533
Apple          3494
BlackBerry     3206
HTC            1974
Sony           1299
Huawei         1183
Name: brand, dtype: int64

In [38]:
phone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46350 entries, 0 to 53441
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   overall           46350 non-null  float64
 1   verified          46350 non-null  bool
 2   reviewerID        46350 non-null  object
 3   asin              46350 non-null  object
 4   reviewerName      46345 non-null  object
 5   reviewText        46350 non-null  object
 6   summary           46334 non-null  object
 7   review_sentiment  46350 non-null  object
 8   Date&Time         46350 non-null  object
 9   category          46350 non-null  object
 10  description       46350 non-null  object
 11  title             46350 non-null  object
 12  also_buy          46350 non-null  object
 13  brand             46350 non-null  object
 14  feature           46350 non-null  object
 15  rank              46350 non-null  object
 16  also_view         46350 non-null  object
 17  main_cat          46350 non-null  object
 18  similar_item      46350 non-null  object
 19  price             46350 non-null  object
 20  catfilter         46350 non-null  object
dtypes: bool(1), float64(1), object(19)
memory usage: 7.5+ MB